table {
    border-collapse: collapse;
}

td {
    height: 200px;
    width: 200px
}

.traffic-light {
    background: #222;
    border-radius: 20px;
    height: 40px;
    width: 17px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 5px #333;
}

.bulb {
    background: #444;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.red.on {
    background: red;
    box-shadow: 0 0 40px red;
}

.yellow.on {
    background: yellow;
    box-shadow: 0 0 40px yellow;
}

.green.on {
    background: green;
    box-shadow: 0 0 40px green;
}