table {
    border-collapse: collapse;
}

td {
    height: 200px;
    width: 200px
}

.traffic-light {
    background: #222;
    border-radius: 20px;
    height: 40px;
    width: 17px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 5px #333;
}
.bulb { width: 50px; height: 50px; border-radius: 50%; background: #333; margin: 5px; opacity: 0.3; }
.red.active { background: red; opacity: 1; box-shadow: 0 0 20px red; }
.yellow.active { background: yellow; opacity: 1; box-shadow: 0 0 20px yellow; }
.green.active { background: green; opacity: 1; box-shadow: 0 0 20px green; }
