<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <!-- <style>
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size: 7em;
        }
    </style> -->
</head>

<body>
    <center>
        This is our home page.<br /><br>
        I am <%=data.name%>, <br>
            and my hobbies are <%=data.hobbies%>

                <h2>Here You Can Explore My Work!!</h2>
                <%- include('partials/header')%>
    </center>
</body>

</html>