<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <label for="country">Countries</label>
    <select name="country" id="country">
        <option value="select">select</option>
        <% country.forEach(opt=>{%>
            <option value="<%= opt.country_name %>">
                <%= opt.country_name %>
            </option>
            <% }) %>
    </select>
    <label for="state">States</label>
    <select name="state" id="state">
        <option value="select">select</option>

    </select>
    <label for="city">Cities</label>
    <select name="city" id="city">
        <option value="select">select</option>

    </select>

</body>


<script>
    const cityDropdown = document.getElementById("city")
    const stateDropdown = document.getElementById("state")
    const countryDropdown = document.getElementById("country")

    countryDropdown.addEventListener("change", async () => {
        const country = countryDropdown.value;

        stateDropdown.innerHTML = `<option value="select">select</option>`
        cityDropdown.innerHTML = `<option value="select">select</option>`

        const res = await fetch(`http://localhost:3000/api/state?country=${country}`)
        const states = await res.json();


        states.forEach(s => {
            const option = document.createElement("option")
            option.value = s.state_name
            option.textContent = s.state_name
            stateDropdown.appendChild(option)
        });
    })

    stateDropdown.addEventListener("change", async () => {
        const state = stateDropdown.value;

        cityDropdown.innerHTML = `<option value="select">select</option>`


        const res = await fetch(`http://localhost:3000/api/city?state=${state}`)
        const cities = await res.json();

        cities.forEach(c => {
            const option = document.createElement("option")
            option.value = c.city_name
            option.textContent = c.city_name
            cityDropdown.appendChild(option)
        });
    })
</script>

</html>